
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{
	background:#f0f0f0 url(../img/bg_header.jpg) no-repeat left top;
	width:100%; 
	min-width: $min-width;
	text-align:left;	
	order: 1;	
    -webkit-order: 1;
    background-color: $base-bg;	
}

.info {
	width: 100%;
	padding: 30px 15px 15px;
	display: flex;
	justify-content: space-between;
	font-size: 13px;
	border-bottom: 1px solid #dddfdf;
}

.logo {
	margin-right: 2.5%;
	padding-top: 5px;

	&__name {
		padding-top: 5px;
		display: block;
		color: #747688;
	}
}

.search {
	max-width: 500px;
    width: 40.6%;
	
	&__input {
		width: 100%;
		padding: 11px 5px;
		border: 1px solid #b9b8bd;
		border-radius: 5px;
		outline: none;
		background-image: url('../img/magnifier.png');
		background-size: 19px;
		background-repeat: no-repeat;
		background-position-x: 99%;
    	background-position-y: center;
	}
}

.phone {
	margin-left: 6%;
    padding-top: 9px;
    display: inline-block;
    color: #181616;
    font-size: 22px;
}

.schedule {
	display: flex;
	flex-direction: column;
	line-height: 18px;
	
	&__text {
		display: inline-block;
	}
}

.highlight-text {
	padding-top: 4px;
	color: $ocher-color;
}

.nav {
	margin-bottom: 30px;
	padding: 0 15px;
	display: flex;
	justify-content: space-between;
	font-size: 15px;
	font-weight: bold;
	border-bottom: 1px solid #dddfdf;
	text-transform: uppercase;
}

.mobile-nav {
	display: none;
}

.menu {
	width: 70%;

	&__icon {
		display: inline-block;
    	margin-right: 6px;
	}	

	&__item {
		margin-right: 2%;
		display: inline-block;
		position: relative;
		list-style: none;

		&:nth-child(2) {
			margin-right: 3%;
		}

		&:nth-child(3) {
			margin-right: 3%;
		}

		&:nth-child(4),
		&:nth-child(5) {
			margin-right: 2.4%;
		}
	}

	&__item .sub-menu_hide {
		display: none;
	}

	&__item:hover .sub-menu_hide {
		display: block;
	}
	
	&__link {
		display: inline-block;
	    padding: 20px 0;
	    color: #171717;
	    letter-spacing: -1px;
	    cursor: pointer;
	}
}

.sub-menu {
	width: 132%;
    margin: 2px 0 0;
    position: absolute;
    left: -11px;
    list-style: none;
    background-color: $base-bg;
    border-top: 6px solid transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 20;

	&__item {
		padding: 8px 14px 8px 15px;
		display: flex;
		background-color: $base-bg;
	    align-items: center;
		white-space: normal;
		border-left:  1px solid #dddfdf;
		border-right:  1px solid #dddfdf;
		box-sizing: border-box;

		&:first-child {
			padding: 23px 14px 8px 15px;
			border-top: 1px solid #dddfdf;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
				
		}

		&:last-child {
			padding: 8px 14px 26px 15px;
    		line-height: 18px;
			border-bottom: 1px solid #dddfdf;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
		}

		&:hover {
			background-color: #e9e9ea;
		}

		&_head:hover {
			background-color: $base-bg;
		}
	}

	&__item .sub-menu_inside,
	&__item .sub-menu_inner {
		display: none;
	}

	&__item:hover .sub-menu_inside,
	&__item:hover .sub-menu_inner {
		display: block;
	}

	&__link {
		display: flex;
	    align-items: center;
		width: 120%;
	    color: #666;
	    font-size: 14px;
    	letter-spacing: -.5px;
	    text-transform: none;

	    &_head {
	    	text-transform: uppercase;
	    	color: $ocher-color;
	    }
	}

	&_inside,
	&_inner {
		width: 100%;
	    left: 102%;
	    border-top: none;
    	border-radius: 5px;
	}

	&_inside {
		bottom: 45%;
	}

	&_inner {
		top: 35%;
	}
}

.list-point {
	margin-right: 10px;
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	border: 1px solid $ocher-color;
}

.basket {
	width: 30%;
	letter-spacing: -1px;
	text-align: end;

	&__numbers {
		padding: 3px 5px 3px 2px;
	    background-color: $ocher-color;
	    border-radius: 50%;
	    color: $base-bg;
	}

	&__numbers,
	&__price {
		display: inline-block;
		cursor: pointer;
	}

	&__numbers {
		margin-left: 8px;
	}

	&__price {
		margin-left: 5px;
	}

	&__img {
		display: inline-block;
	    position: relative;
	    width: 25px;
	    top: 8px;
	    margin-left: 7px;
	}

	&__goods {
		margin-right: 10%;
		display: inline-block;
	}
}

.login {
	padding: 20px 0px 0 23px;
    display: inline-block;
    color: #171717;
    cursor: pointer;
    background-image: url(../img/login-icon.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    letter-spacing: .5px;
}

.pointer {
	display: inline-block;
	border-right: 2px solid #cb944c;
    border-bottom: 2px solid #cb944c;
   
	&_menu {
		width: 9px;
	    height: 9px;
	    transform: rotate(45deg);
	    margin-bottom: 3px;
	    display: inline-block;
	    margin-left: 15px;
	}

    &_submenu {
    	width: 9px;
		height: 8px;
    	transform: rotate(-45deg);
    }
}

/* SLIDER */

.container-slider {
	max-width: 1354px;
    position: relative;
    margin: 15px auto 0;
}

.slider {
	
    &__item {
		width: 100%;
	}

	&__img {
		display: block;
		width: 100%;
		height: 100%;
	} 
}

.slick-prev,
.slick-next {
    position: absolute;
    background-size: 30px;
    background-position-y: 48px;
    background-position-x: 7px;
    background-repeat: no-repeat;
    border: none;
    color: transparent;
    top: 21%;
    z-index: 10;
}

.slick-prev {
	background-color: rgba(203,148,76, .87);
    padding: 55px 1px;
    letter-spacing: -2px;
    background-image: url(../img/prev.svg);
    transform: rotate(180deg);
}

.slick-next {
	background-color: rgba(255, 255, 255, .87);
    padding: 55px 8px;
    background-image: url(../img/next.svg);
    right: 0;   
}

.slick-dots {
	text-align: center;
	list-style: none;
}

.slick-dots li {
	margin: 30px 10px 30px;
	display: inline-block;
}

.slick-dots li button {
	width: 20px;
	height: 20px;
	border: none;
	border-radius: 50px;
	color: transparent;
	background-color: rgba(203,148,76, .32);
}

.slick-dots li.slick-active {
	width: 20px;
	height: 20px;
	background-color: $ocher-color;
	border: none;
	border-radius: 50px;
}

.slogan {
	padding: 17px 0px 26px 30px;
    top: 21%;
    max-width: 500px;
    position: absolute;
    display: inline-block;
    font-size: 42px;
    background-color: rgba(203, 148, 76, 0.87);
    color: #FFF;
    left: 70px;
    letter-spacing: -1px;

    &__company {
    	letter-spacing: -4px;
    	text-transform: uppercase;
    }
}

@media screen and (max-width: 1200px) {

	.info {
		font-size: 12px;
	}

	.nav {
		font-size: 13px;
	}

	.menu {

	    &__item {
	    	margin-right: 10px;

			&:nth-child(2),
	    	&:nth-child(3),
	    	&:nth-child(4),
	    	&:nth-child(5) {
	    		margin-right: 10px;
	    	}
	    }

	    &__icon-img {
	    	width: 13px;
	    }
	}

	.basket {
		&__goods {
    		margin-right: 1%;
		}

		&__img {
			margin-left: 0;
			width: 20px;
    		top: 6px;
		}

		&__numbers {
            margin-left: 8px; 
		}

		&__price {
    	    margin-left: 5px; 
		}
	}

	.phone {
	    margin-left: 1%;
	    font-size: 16px;
	}
}

@media screen and (max-width: 991px) {

	.container-slider {
		margin: 0 auto 0;
	}

	.wrapper {
		padding: 0 12px;
	}

	.info {
		font-size: 12px;
    	padding: 19px 18px 29px;
    }

    .logo {
	    margin-right: 5.5%;
	    padding-top: 5px;

	    &__img {
	    	width: 180px;
	    }
	}

    .search {
    	max-width: 220px;

    	&__input {
    		margin-top: 5px;
    		padding: 8px 0px 8px 11px;
    		font-size: 10px;
    		background-size: 12px;
    		background-position-x: 97%;
    	}
    }

    .phone {
	    margin-left: 30px;
	    margin-right: 20px;
	    padding-top: 6px;
	    font-size: 13px;
	}

	.schedule {
	    line-height: 11px;
	    font-size: 9px;
	    letter-spacing: .1px;
	}

	.highlight-text {
	    padding-top: 2px;
	}
	
	.nav {
		margin-bottom: 13px;
		padding: 0 8px 0 18px;
		font-size: 12px;
		position: relative;
	}

	.menu {
		width: 100%;
	  
		&__icon {
		    display: inline-block;
		    margin-right: 10px;
		}

		&__item {
			margin-right: 0;
			
			&:nth-child(2) {
			    margin-left: 10px;
			}

			&:nth-child(3) {
			    margin-left: 19px;
			}
			
			&:nth-child(4) {
			    margin-left: 21px;
			}
			

			&:nth-child(5) {
			    margin-left: 26px;
			}

			&:last-child {
				margin-left: 22px;
			}
		}

		&__link {
		    padding: 17px 0;
		}
	}

	.basket {
		width: 37%;
	    position: absolute;
	    top: -45px;
	    right: 18px;
	    letter-spacing: 0px;
    	text-align: end;

    	&__price {
		    margin-left: 1px;
		}
	}

	.login {
		background-size: 16px;
		background-position-x: 5px;
	}

	.slider {
		padding: 0 12px;
	
	    &__item {
			width: 100%;
		}
	}

	.slick-prev,
	.slick-next {
		padding: 25px 0;
	    width: 19px;
	    background-size: 15px;
	    background-position-x: 2px;
	    background-position-y: 25px;
	    top: 22%;
	}

	.slick-next {
		right: 11px;
	}

	.slick-dots li button {
		width: 13px;
		height: 13px;
	}

	.slick-dots li.slick-active {
		width: 13px;
		height: 13px;
	}

	.slogan {
		max-width: 287px;
		padding: 11px 0px 13px 30px;
	    top: 23%;
	    left: 51px;
	    font-size: 22px;

	    &__company {
	    	letter-spacing: -1px;
	    }
	}

	.sub-menu {
		width: 242px;
		left: 0;

		&_inside,
		&_inner {
			left: 102%;
		}
	}
}

@media screen and (max-width: 767px) {
	
	.info {
	    font-size: 9px;
	    padding: 19px 18px 29px;
	}

	.logo {
	    margin-right: 3.5%;
	    padding-top: 5px;

	    &__img {
	    	width: 150px;
	    }
	}

	.search {
	    max-width: 200px;
	    width: 34.6%;
	}

	.phone {
	    margin-left: 15px;
	    margin-right: 19px;
	    font-size: 10px;
	}

	.schedule {
		font-size: 8px;
	}

	.nav {
	    font-size: 9px;
	}

	.menu {

		&__icon-img {
			width: 10px;
		}

		&__item {
			&:nth-child(2) {
				margin-left: 12px;
				margin-right: 0;
			}

			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(5),
			&:last-child {
				margin-left: 10px;
			}

		}

		&__link {
			letter-spacing: 0;
		}
	}

	.pointer_menu {
	    width: 8px;
	    height: 8px;
	    margin-bottom: 1px;
	    margin-left: 10px;
	}

	.basket {
		&__img {
			width: 15px;
			top: 3px;
		}

		&__numbers {
			padding: 3px 3px 3px 2px;
		}
	}

	.sub-menu {
		width: 180px;

		&__link {
			font-size: 11px;
		}

		&__item {
			&:first-child {
				padding: 15px 14px 8px 15px;
			}

			&:last-child {
				padding: 8px 14px 15px 15px;
			}
		}
	}

	.slick-next {
		right: 11px;
	}

	.slick-dots li button {
		width: 13px;
		height: 13px;
	}

	.slick-dots li.slick-active {
		width: 13px;
		height: 13px;
	}
}

@media screen and (max-width: 639px) {
	.wrapper {
		padding: 0;
	}

	.mobile-nav {
	    display: flex;
	    background-color: grey;
	    list-style: none;

	    &__item {
	    	padding: 12px 18px;

	    	&:hover {
		    	background-color: #3eade2;
		    }
	    }
	}

	.search,
	.phone,
	.schedule,
	.menu,
	.basket {
		display: none;
	}

	.info,
	.nav {
		border-bottom: none;
	}

	.info {
		padding: 29px 18px 0px;
	}

	.nav {
		margin-bottom: 0;
	}

	.menu {
		display: none;
		position: absolute;
	}

	.logo {
		padding-top: 0;

		&__img {
			width: 193px;
		}

		&__name {
			font-size: 12px;
		}
	}

	.container-slider {
		margin: 30px auto 0;
	}

	.slider {
		padding: 0;
		
		&__img {
			display: block;
			width: 100%;
			height: 98px;
		}
	}

	.slick-prev,
	.slick-next {
		padding: 6px 0px;
	    width: 20px;
	    background-size: 15px;
	    background-position-x: 6px;
	    background-position-y: 6px;
	    top: 17%;
	}

	.slick-next {
		right: 0;
	}

	.slogan {
		max-width: 193px;
	    padding: 5px 0px 4px 9px;
	    font-size: 15px;
	    top: 12px;
	    left: 24px;
	    line-height: 17px;
	    letter-spacing: 0;
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   /* IE10+ specific styles go here */ 
   .menu__item {
   	margin-right: 2%;
   } 
}
